body {
    font-family: Arial, sans-serif;
    background-color: #82b4ee;
    padding: 20px;
}

#search-box {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
}

#results .place {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(71, 180, 212, 0.1);
}

#results .place h3 {
    margin: 0;
}

#results .place button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
